In [1]:
import pandas as pd

In [2]:
list_of_year = [1900, 1950, 2000]
df_list = []
for year in list_of_year:
    df = pd.read_csv('C:\\Users\\Андрей\\Downloads\\names\\yob' + str(year) + '.txt', 
                           names=['Name', 'Gender', 'Quantity'])
    df['Year'] = year
    df_list.append(df)
df_out = pd.concat(df_list)
group_df_out = df_out.groupby(['Gender', 'Year']).sum()
result_output = group_df_out.unstack('Gender')

In [3]:
result_output

       Quantity
Gender        F        M
Year
1900     299800   150483
1950    1713151  1790549
2000    1815110  1962969